/* You can add global styles to this file, and also import other style files */
.pswp--zoom-allowed .pswp__img {
  cursor: default !important
}

.pswp__ui--idle {
  .pswp__top-bar {
    opacity: 1 !important;
  }

  .pswp__button--arrow--left,
  .pswp__button--arrow--right {
    opacity: 1 !important;
  }
}
